REDIS_URL=
DATABASE_URL=

OPENAI_API_KEY=
GROQ_API_KEY=
# If you don't want to use Groq
# CEREBRAS_API_KEY=

TURNSTILE_SECRET=

# Optional
AXIOM_DATASET=
AXIOM_TOKEN=

CHALLENGE_SECRET=
AI_CHECKSUM_SECRET=
REINDEX_SECRET=
REINDEX_ENDPOINT=
